<link rel="stylesheet" href="css/navbar.css">
<ul class="navbar">
    <li class="home"><a href="http://localhost:3000/">Home</a></li>
    <ol class="items">
        <li class="nav-items"><a href="http://localhost:3000/registration">Registration Form</a></li>
        <li class="nav-items"><a href="http://localhost:3000/student">Students Data</a></li>
        <li class="nav-items"><a href="http://localhost:3000/login">Login</a></li>
        <li class="nav-items"><a href="http://localhost:3000/signup">SignUp</a></li>
    </ol>
</ul>