<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Allowed</title>
    <link rel="stylesheet" href="css/notallowed.css">
</head>
<body>
    <div class="main">
        <div class="heading">
            <h1>You are not allowed to fetch the Student's data</h1>
            <a href="/login">login <span>/</span></a><a href="/signup">signup</a>
        </div>
    </div>
</body>
</html>